/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .ng-valid:not(form).ng-touched{
  border-left: 5px solid green;
}

.ng-invalid:not(form).ng-touched{
  border-left: 5px solid red;
} */
/* Estilos para los botones de navegación del carrusel */
.owl-nav button.owl-prev,
.owl-nav button.owl-next {
  background: none;
  border: none;
  color: black; /* Cambia el color del texto a negro */
  font-size: 2em; /* Ajusta el tamaño de la fuente según sea necesario */
  cursor: pointer;
  outline: none;
}

.owl-nav button.owl-prev:hover,
.owl-nav button.owl-next:hover {
  color: gray; /* Cambia el color al pasar el ratón */
}
