
.mat {
    background-color: #419197;}

.background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #78D6C6;
  }

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: solid;
    font-size: 25px;
    font-weight: 600;
    color: aliceblue;
}
label{
    color: aliceblue;
}
.signup-container {

    width: 60%;
    height: 430px;
    margin-top: -100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
    background: #04364A;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #0b1536, #148cc3);  
  background: linear-gradient(to right, #20126e, #2b79a7);  */
  box-shadow: 0px 0px 30px #f7f7f7;
  }

  .datos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas para los datos */
    gap: 5px; /* Espacio entre las columnas */
    padding: 0px 30px;
  }
  .dato {
    color: white;
    font-size: 14px;
    /* display: flex; */
    align-items: center;
    height: 65px;
  }
  .email{
    font-size: 14px;
    padding: 0px 30px;
    margin-top: -5px;
    padding-bottom: 15px;
    height: 65px;
  }
  .fecha{
    display: flex;
  }
  .custom-icon {
    font-size: 2.4rem; /* Ajusta este valor para cambiar el tamaño del icono */
    vertical-align: middle; /* Alinea el icono verticalmente con el texto */
    /* margin-right: 10px; Espacio entre el icono y el texto */
    margin-left: 5px;
    color: white; /* Color del icono */
    line-height: 1;
    width: 50px;
    height: 35px;
  }

  .signup-container div {
    margin-bottom: 5px;
    position: relative;
  }
  
  .signup-container label {
    display: block;
    margin-bottom: 0px;
    white-space: nowrap;
  }
  
  .signup-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 3px solid #419197; /* Borde negro */
    border-radius: 5px; /* Puntas redondeadas */
    background: transparent; /* Sin relleno */
    outline: none; /* Elimina el borde del foco por defecto */
    color: #f7f7f7;
  }
  .signup-container input:focus {
    border-color: #5cb85c; /* Cambia el color del borde al enfocarse */
    color: #f7f7f7;
    background: transparent;
  }

.custom-datepicker input{
  border: none;
}
  .custom-datepicker {
    display: flex;
    background-color: transparent;
    border: 3px solid #419197; 
    border-radius: 5px; 
    height: 31px;
    align-items: center;
    position: relative;
  }
  
  .custom-datepicker .mat-form-field-flex {
    background: transparent;
    border: 1px solid #419197;
    border-radius: 5px; 
  }
  
  
  .custom-datepicker.mat-focused .mat-form-field-flex {
    border-color: #5cb85c; /* Cambia el color del borde al enfocarse */
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }
  .signup-container button {
    width: 40%;
    padding: 10px;
    background-color:#419197;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  ::placeholder {
    color: #aaa; /* Cambia el color del placeholder */
    opacity: 1; /* Asegúrate de que sea visible en todos los navegadores */
  }
  
  .signup-container input:focus::placeholder {
    opacity: 0; /* Oculta el placeholder cuando el input está en foco */
  }
  
  /* Asegúrate de que el placeholder se oculte cuando hay un valor ingresado */
  .signup-container input:not(:placeholder-shown) {
    /* border-color: #5cb85c;  */
  }

  .error-message {
    color: red;
  font-size: 12px;
  position: absolute;
  }

  
  .signup-container select {

    background: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px; /* Espacio para el icono */
    width: 100%;
    /* padding: 8px; */
    box-sizing: border-box;
    border: 0px solid #419197; /* Borde negro */
    outline: none; /* Elimina el borde del foco por defecto */
    color: #f7f7f7;
  }  
.data{
  padding: 10px 30px;
  position: relative;
  height: 65px;
}