.container {
    /* padding-top: 100px; */
    position: absolute;
    background-color: rgb(9, 33, 43);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  .contenedor-general {
    padding: 20px 20%; /* Ajuste para que ocupe menos espacio en pantallas pequeñas */
  }
  
  .datos {
    margin-top: 100px;
    background-color: rgba(127, 255, 212, 0.418);
    border-radius: 20px;
    padding: 2% 5%;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex: 1;
  }
  
  .descripcion .text,
  .botones .label input {
    height: 30px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  label {
    color: aliceblue;
  }
  
  .descripcion {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .botones {
    display: flex;
    flex-direction: row;
    gap: 10px;

    /* margin-top: 20px; */
    width: 100%;
  }
  
  .lista-voluntarios {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    overflow-y: auto;
    max-height: 250px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 10px; /* Espacio entre columnas */
    
  }
  
  .lista-voluntarios .content {
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(170, 170, 170);
    padding: 5px;
    
  }
  
  .opciones {
    display: flex;

    justify-content: center;
    gap: 10px;
  }
  
  button {
    width: 100%;
    max-width: 200px; /* Limita el ancho en pantallas más grandes */
    color: aliceblue;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Estilos responsivos para dispositivos móviles */
  @media (max-width: 768px) {
    .contenedor-general {
      padding: 10%;
    }
  
    .datos {
      padding: 5%;
    }
  
    .botones {
      flex-direction: column;
    }
  
    .opciones {
      flex-direction: column;
      align-items: center;
    }
  
    button {
      font-size: 14px;
      width: 100%;
    }
  
    .lista-voluntarios {
      max-height: 200px;
    }
  }
  .label {

    margin-bottom: 1px;
  }
  
  .lista-voluntarios::-webkit-scrollbar {
    width: 5px; /* Grosor de la barra de desplazamiento */

  }
  
  .lista-voluntarios::-webkit-scrollbar-track {
    background: #f0f0f0; /* Color de fondo de la pista */
    border-radius: 10px; /* Bordes redondeados de la pista */
  }
  
  .lista-voluntarios::-webkit-scrollbar-thumb {
    background-color: rgb(76, 78, 78); /* Color de la barra */
    border-radius: 10px; /* Bordes redondeados de la barra */
    border: 1px solid #f0f0f0; /* Espacio alrededor de la barra para darle un aspecto más definido */
  }

