

<!-- 
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="event-list">
      <div *ngFor="let eventoResp of eventosData" class="event-card">
          <evento-card [eventoResp]="eventoResp"></evento-card>
      </div>
    </div>
  </ng-template>  
</owl-carousel-o> -->
<div id="lista">

  <ng-container *ngIf="eventos" >
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor= "let eventoResp of eventos">
        <ng-template carouselSlide [width]="300">
          <evento-card [eventoResp]="eventoResp"></evento-card>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </ng-container>
</div>
