table {
    width: 100%;
    border-radius: 10px;
  }
  
  .title {
    background-color: #BEADFA;
    padding: 30px;
    text-align: center;
  }

  .container{
    margin: 0 20%;
  }

  td, th {
    width: 15%;
  }