.event-list{

  display: flex;
}

.event-card{
  /* width: 80%; */
  display: flex;
}
.owl-nav .owl-prev{
  top:calc(50% - 20px);
  left: 0;
  position: absolute;
}

.owl-nav .owl-next{
  /* right: 0;
  position: absolute;
  top:calc(50% - 20px);
  font-size: 50px; */
  color: black;
}

.owl-next{
  /* right: 0;
  position: absolute;
  top:calc(50% - 20px);
  font-size: 50px; */
  color: black important!;
}