<div class="fondo">
    <div class="signup-container">
      <div >
          <p class="title">Pago exitoso</p>
          <p style="color: aliceblue;    display: flex; justify-content: center;"> Ha pagado su inscripcion con éxito! Muchas gracias!</p>
          <div class="success-icon-container">
            <mat-icon class="custom-icon" aria-hidden="false" aria-label="Success icon" fontIcon="check_circle"></mat-icon>
          </div>
          
      </div>
      <div class="button-container">
        <button routerLink='./inicio' style="margin-top: 10px;">Volver a la pagina principal</button>
    </div>
    </div>
</div>
