<div class="container">
    <main class="main">
      <button routerLink="/eventosActivos" style="color: aliceblue; text-decoration:underline; border: none;background-color:transparent;width: fit-content;"><--Regresar</button> 
      <div class="header"><h2>Inscriptos {{ eventoNombre }} </h2></div>
      <div class="tabla" >
          
            <div class="filtro">
                <mat-form-field>
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Mia" #input class="input">
                </mat-form-field>

                <button routerLink="/inscripcionManual/{{eventoId}}">+ Agregar inscripción</button>
            </div>
        
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
            <!-- Dorsal Column -->
            <ng-container matColumnDef="nro">
              <th mat-header-cell *matHeaderCellDef >
                Nro
              </th>
              <td mat-cell *matCellDef="let element"> {{element.nro}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef >
                Nombre y Apellido
              </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="mail">
              <th mat-header-cell *matHeaderCellDef >
                Email
              </th>
              <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
            </ng-container>

            <ng-container matColumnDef="dni">
              <th mat-header-cell *matHeaderCellDef >
                DNI
              </th>
              <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
            </ng-container>
            <ng-container matColumnDef="fechaNacimiento">
              <th mat-header-cell *matHeaderCellDef >
                Fecha Nacimiento
              </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento | date:'dd-MM-yyyy'}} </td>
            </ng-container>
            <!-- Genero Column -->
            <ng-container matColumnDef="genero">
              <th mat-header-cell *matHeaderCellDef>
                Genero
              </th>
              <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
            </ng-container>
          
            <!-- Categoria Column -->
            <ng-container matColumnDef="categoria">
              <th mat-header-cell *matHeaderCellDef >
                Categoria
              </th>
              <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
            </ng-container>
          
            <!-- Distancia Column -->
            <ng-container matColumnDef="distancia">
                <th mat-header-cell *matHeaderCellDef >
                  Distancia
                </th>
                <td mat-cell *matCellDef="let element"> {{element.distancia}} </td>
              </ng-container>

            <!-- Tiempo Column -->
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef >
                Estado de pago
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-select [(value)]="element.estado" (selectionChange)="onEstadoChange(element)">
                    <mat-option value="Pagado">Pagado</mat-option>
                    <mat-option value="Pendiente">Pendiente</mat-option>
                  </mat-select> 
                </td>
            </ng-container>
          
            <!-- Posicion General Column -->
            <ng-container matColumnDef="metodo">
              <th mat-header-cell *matHeaderCellDef >
                Metodo de pago
              </th>
              <td mat-cell *matCellDef="let element"> {{element.metodo}} </td>
            </ng-container>
          
            <!-- Posicion Categoria Column -->
            <ng-container matColumnDef="entregaKit">
              <th mat-header-cell *matHeaderCellDef >
                Retiro de kit
              </th>
              <td mat-cell *matCellDef="let element"> 
                <mat-checkbox [checked]="element.entregaKit" class="round-checkbox" (change)="onCheckboxChange(element)"></mat-checkbox>    
            </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontró inscripto con ese nombre "{{input.value}}"</td>
          </tr>
          </table>
        
        <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label=""></mat-paginator>
        </div> 
    </main>
</div>
