<div class="container">
    <main class="main">
        <form #buscarForm="ngForm" (change)="buscar()">
            <section class="buscador">      
                <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input> -->
                <input type="text" name="texto" [(ngModel)]="parametrosBusqueda.texto" placeholder="Buscar evento" autocomplete="off">
                <mat-icon class="icono" aria-hidden="false" aria-label="Example calendar icon" fontIcon="search"></mat-icon>
            </section>
            <div style="justify-content: end; padding-right: 10%;display: flex; padding-bottom: 15px;">
              <button routerLink="/altaEventos" class="agregar-button">+ Agregar Evento</button>
            </div>
        </form>
        <!-- <div class="evento-wrapper"> -->
            <div class="evento-container">
              <ng-container *ngIf="eventos">
                <ng-container *ngFor="let eventoResp of eventos">
                  <div class="evento-content">
                    <div class="evento-sec">
                      <div class="evento">
                        <app-evento-card-h [eventoResp]="eventoResp"></app-evento-card-h>
                      </div>
                      <mat-icon class="custom-icon" routerLink="/altaEventos" aria-hidden="false" aria-label="Example calendar icon" fontIcon="edit_square"></mat-icon>
                      <label class="switch">
                        <input type="checkbox" [checked]="eventoResp.evento.estado==='Activo'" (change)="onToggleChange(eventoResp.evento, $event)">
                        <span class="slider"></span>
                      </label>
                    </div>
                    <div class="content">
                      <button routerLink="/verInscripciones/{{eventoResp.evento.id}}" class="tareas-button">Inscripciones</button>
                      <button routerLink="/reportes/{{eventoResp.evento.id}}" class="tareas-button">Reportes</button>
                      <button routerLink="/alta-resultados/{{eventoResp.evento.id}}" class="tareas-button">Resultados</button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          <!-- </div> -->
    </main>
</div>

