<div class="container">
    <main class="main">
        <form >
            <section class="buscador">      
                <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input> -->
                <input type="text" name="texto" [(ngModel)]="textoBusqueda" (input)="filtrarEventos()" placeholder="Buscar evento" autocomplete="off">
                <mat-icon class="icono" aria-hidden="false" aria-label="Example calendar icon" fontIcon="search"></mat-icon>
            </section>
            <div style="justify-content: space-between;padding: 0% 10% 0%;display: flex; padding-bottom: 15px;">
              <button routerLink="/reportes" class="agregar-button">Reportes Generales</button>
              <button routerLink="/altaEventos" class="agregar-button">+ Agregar Evento</button>
            </div>
        </form>
        <!-- <div class="evento-wrapper"> -->
            <div class="evento-container">
              <ng-container *ngIf="eventos">
                <ng-container *ngFor="let eventoResp of eventos">
                  <div class="evento-content">
                    <div class="evento-sec">
                      <div class="evento">
                        <app-evento-card-h [eventoResp]="eventoResp"></app-evento-card-h>
                      </div>
                      <mat-icon class="custom-icon" routerLink="/altaEventos/{{eventoResp.id}}" aria-hidden="false" aria-label="Example calendar icon" fontIcon="edit_square"></mat-icon>
                      <div>
                        <p style="color: white;display: flex;justify-content: center;">{{eventoResp.estado}}</p>
                        <label class="switch">
                          <span class="slider"></span>
                          <input type="checkbox" [checked]="eventoResp.estado==='Activo'" (change)="onToggleChange(eventoResp, $event)">
                          <span class="slider"></span>
                        </label>
                      </div>
                    </div>
                    <div class="content">
                      <button (click)="verInscripciones(eventoResp.id, eventoResp.nombre)" 
                      class="tareas-button">
                Inscripciones</button>
                      <button routerLink="/reportes/{{eventoResp.id}}" [queryParams]="{ nombre: eventoResp.nombre }" class="tareas-button">Reporte</button>
                      <button routerLink="/alta-resultados/{{eventoResp.id}}" [queryParams]="{ nombre: eventoResp.nombre }"  class="tareas-button">Resultados</button>
                      <button (click)="enviarMail(eventoResp.id)" class="tareas-button">Enviar mail</button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          <!-- </div> -->
    </main>
</div>

