html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .container {
    content: '';
    padding-top: 100px;
    position: absolute;
    background-color:rgb(9, 33, 43);
    left: 0;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    /* height: 100%; */
    background-size: cover;
    background-attachment: fixed;
    /* z-index: -1; Asegura que el pseudo-elemento esté detrás del contenido */
    background-repeat: no-repeat;
  }

  th.mat-sort-header-sorted {
    color: rgb(0, 0, 0);
  }
  .filtro{
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1% 0px 0% 20%;
      margin-top: -40px;
      
  }
  .tabla{
      padding: 0px 9% ;
      /* text-align: center; */
      justify-items: center;
  }
  .agregar-button{
    /* height: auto; */
    width: 150px;
    display: flex;
    gap: 10px;
    margin: 0px 10px;
    color: rgb(255, 255, 255);
    border: none;
   margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: larger;
    background-color: #1520b3;
  }
  .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
      
    }
    .mat-header-cell {
        text-align: center;
      }
table th{
    background-color: #419197;
    justify-content: center;
    font-weight: bold;
}
    td, th {
      width:fit-content;
      text-align: center;
      /* background-color: #97bce688; */
      color: rgb(9, 36, 59);
    }
  .paginator{
      background-color:#419197;
      width: 100%;
  }

button{
    margin-left: 50px;
    width: 40%;
    border: none;
    height: 40px;
    margin-top: 10px;
    background-color: #65bbc7;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.titulo-evento{
  color: aliceblue;
  margin-top: -40px;
  margin-bottom: 60px;
  h1 {
    font-size: xx-large;
  }

}