
  <!-- <mat-card class="example-card">

    <img mat-card-image [src]="eventoResp.evento.imagen" class="imagen" alt="Event Image">
    <div class="card-date">{{eventoResp.evento.fecha}}</div>
     <img mat-card-image src="../../../images/carrera3.jpg" class="imagen" alt="Event Image"> 
    <mat-card-content>
      <div>
        <h1 style="color: black;">{{eventoResp.evento.nombre}}</h1>
      </div>
      <h1 style="color: black;">{{evento.nombre}}</h1>
      <h5 style="color: black;">MARATON</h5>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button style="transform: scale(2);">
        <mat-icon routerLink="/verEvento/2" style="color: rgb(0, 0, 0); margin-inline-start: 0px;">info</mat-icon>
      </button>
      <button mat-raised-button color="primary" style="margin-left: 20%; width: 200px;">Inscribirse</button>
    </mat-card-actions>
  </mat-card> -->

  <div class="card">
    <div class="card-image-container">
      <img [src]="imagenURL" alt="Event Image" class="card-image">
      <div class="card-date">{{ formattedDate }}</div>
    </div>
    <div class="card-content">
      <h2 class="card-title">{{formattedName}}</h2>
      <ng-container *ngIf="eventoResp.estado !== 'Inactivo'">
        <div class="card-actions">
          <button mat-icon-button style="transform: scale(2);" routerLink="/verEvento/{{eventoResp.id}}">
            <mat-icon  style="color: rgb(0, 0, 0); margin-inline-start: 0px;">info</mat-icon>
          </button>
          <button (click)="onInscribirse()" class="signup-button" >Inscribirse</button>
        </div>
      </ng-container>
      <ng-container *ngIf="eventoResp.estado === 'Inactivo'">
        <div class="card-actions">
          <button routerLink="/verResultados/{{eventoResp.id}}" class="signup-button" >Ver Resultados</button>
        </div>
      </ng-container>
    </div>
  </div>