<mat-card class="example-card">

    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p style="color: black;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button style="transform: scale(2);">
        <mat-icon style="color: rgb(0, 0, 0); margin-inline-start: 10px;">info</mat-icon>
      </button>
      <button mat-raised-button color="primary" style="margin-left: 120px; width: 200px;">Inscribirse</button>
    </mat-card-actions>
  </mat-card>