<!-- <form [formGroup]="eventoForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nombre">Nombre del Evento:</label>
      <input type="text" id="nombre" formControlName="nombre">
    </div>
    <div>
      <label for="fecha">Fecha del Evento:</label>
      <input type="date" id="fecha" formControlName="fecha">
    </div>
    <div>
      <label for="imagen">Imagen del Evento:</label>
      <input type="file" id="imagen" (change)="onFileSelected($event)">
    </div>
    <button type="submit" [disabled]="eventoForm.invalid">Agregar Evento</button>
  </form>
   -->
