/* Mantén el estilo existente */
body {
    background-color: #04364A;
    /* display: flex */
  }
.container {
    padding: 8% 3%;
    margin: 0;

    display: grid;
    grid-template-columns: 3fr 4fr; /* Define dos columnas, una para la imagen y otra para el contenido */
    gap: 16px; /* Espacio entre las columnas */
    align-items: start; /* Alinea el contenido al inicio */
    justify-items: center;
  }
  .agregar-button{
    /* height: auto; */
    width: 150px;
    display: flex;
    gap: 10px;
    margin: 0px 10px;
    color: rgb(255, 255, 255);
    border: none;
   margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: larger;
    background-color: #1520b3;
  }
  .imagen {
    display: flex;
    width: 100%; /* La imagen ocupará toda la columna */
    height: 300px; /* Mantén la proporción de la imagen */
    border: 3px solid white; /* Añade un borde blanco más grueso */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Añade una sombra más fuerte */
    background-color: white; /* Asegúrate de que el área dentro del borde sea blanca */
  }

  .update-image {
    margin-top: -100px;
    /* padding: 10px; */
    /* background-color: #f0f0f0; */
    border-radius: 5px;
    display: flex;
  }
  .custom-icon {
    font-size: 3rem; /* Ajusta este valor para cambiar el tamaño del icono */
    vertical-align: middle; /* Alinea el icono verticalmente con el texto */
    margin-right: 10px; /* Espacio entre el icono y el texto */
    color: white; /* Color del icono */
    line-height: 1;
    width: 50px;
    height: auto;
}
  .update-image input[type="file"] {
    margin-right: 10px;
  }
  .content {
    display: grid;
    grid-template-rows: auto auto; /* Dos filas: una para el título y otra para los datos */
    gap: 10px; /* Espacio entre las filas */
  }
  
  .titulo {
    display: flex;
    padding-left: 20%;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
  .second{
    padding: 0px 30px;
    margin-bottom: -10px;
    /* margin-top: -20px; */
  }
  
  .datos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas para los datos */
    gap: 5px; /* Espacio entre las columnas */
    padding: 20px 30px;
    align-items: start;
  }
  
  .distancias {
    margin-top: 60px;
  }
  
  table {

    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    align-items: start;
    margin-top: -50px;
  }
  
  th, td {
    border: 1px solid #0c0c0c;
    text-align: left;
    padding: 8px;
    vertical-align: middle;
    text-align: center;
  }
  
  th {
    background-color: #858585;
    color: black;
  }
  
  .distancia-item {
    background-color: #ffffff;
  }
  
 .tipo {
    color: white;
    font-size: 16px;
    align-items: center;
  }
  
  .custom-icon {
    font-size: 3rem; /* Ajusta este valor para cambiar el tamaño del icono */
    vertical-align: middle; /* Alinea el icono verticalmente con el texto */
    margin-right: 10px; /* Espacio entre el icono y el texto */
    color: white; /* Color del icono */
    line-height: 1;
    width: 50px;
    height: auto;
  }
  .tipo{
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: max-content;
    margin-bottom: 15px;
  }
  
  .label {
    margin: 0;
    font-weight: 500;
    padding: 9px;
    font-size: 20px;
    text-decoration: underline;
  }
  .fecha, .lugar, .descripcion {
    color: white;
    font-size: 16px;
  }
  .date {
    margin: 0;
    font-size: 18px;
  }
  
  .opciones {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre botones */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  button {
    height: auto;
    width: 150px;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: larger;
  }
  .add {
    height: 30px;
    color: aliceblue;
    background-color: #419197;
    /* border: none; */
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
     font-size: larger;
  }
.boton-eliminar{
    height: auto;
    width: auto;
    color: rgb(255, 0, 0);

    cursor: pointer;/* Ajusta este valor para cambiar el tamaño del icono */
    vertical-align: middle; /* Alinea el icono verticalmente con el texto */
    margin-right: 10px; /* Espacio entre el icono y el texto */
    line-height: 1;
}
.update-image{
  display: flex;
  width: 300px;
  justify-content: space-around;
}
.add-icon {
  cursor: pointer;
  background-color: #007bff;
  width: max-content;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 50px;

  }

  .tipo {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .custom-icon {
    margin-right: 8px;
    font-size: 20px; /* Ajusta el tamaño del ícono */
  }
  
  .label {
    /* font-weight: bold; */
    margin-right: 8px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-btn {
    padding: 10px;
    color:#0c0c0c;
    cursor: pointer;
    background-color: floralwhite;
  }
  
  .dropdown-btn.readonly {
    background-color: transparent;
    color:#f9f9f9;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 2px;
    border: 1px solid #ccc;
    color: #0c0c0c;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: transparent;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .datos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas para los datos */
    gap: 5px; /* Espacio entre las columnas */
    padding: 0px 30px;
  }
  .dato {
    color: white;
    font-size: 14px;
    /* display: flex; */
    align-items: center;
    height: 65px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    /* font-weight: bold; */
    color: #ffffff;
  }


  .container div {
    margin-bottom: 5px;
    position: relative;
  }
  
  .container label {
    display: block;
    margin-bottom: 0px;
    white-space: nowrap;
  }
  .container select {
  
    background: transparent;
    cursor: pointer;
    text-align: center;
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px; /* Espacio para el icono */
    width: 100%;
    /* padding: 8px; */
    box-sizing: border-box;
    border: 0px solid #419197; /* Borde negro */
    outline: none; /* Elimina el borde del foco por defecto */
    color: #f7f7f7;
  }  

  .container input {
    width: 100%;
    padding: 8px;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid #419197; /* Borde negro */
    border-radius: 5px; /* Puntas redondeadas */
    background: transparent; /* Sin relleno */
    outline: none; /* Elimina el borde del foco por defecto */
    color: #f7f7f7;
  }
  .container input:focus,input:valid {
    border-color: #5cb85c; /* Cambia el color del borde al enfocarse */
    color: #f7f7f7;
    background: transparent;
  }
  
  .custom-datepicker input{
  border: none;
  }
  .custom-datepicker {
    display: flex;
    background-color: transparent;
    border: 3px solid #419197; 
    border-radius: 5px; 
    height: 31px;
    align-items: center;
    position: relative;
  }
  
  .custom-datepicker .mat-form-field-flex {
    background: transparent;
    border: 1px solid #419197;
    border-radius: 5px; 
  }
  
  
  .custom-datepicker.mat-focused .mat-form-field-flex {
    border-color: #5cb85c; /* Cambia el color del borde al enfocarse */
  }




