<body>

  <form [formGroup]="eventoForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <!-- Imagen del evento -->
      
        <img [src]="eventoForm.value.imagen" alt="Imagen del Evento" class="imagen">
      
      
      <!-- Contenido del formulario -->
      <div class="content">
        <div class="titulo" *ngIf="isEditing">
          <p class="label">Nombre:</p>
          <input formControlName="nombre" [readonly]="!isEditing" />
        </div>
        <div class="titulo" *ngIf="!isEditing">
          <div class="titulo">{{eventoForm.value.nombre}}</div>
        </div>
          
        <div class="datos">
        <div class="dato">
          <mat-icon class="custom-icon" aria-hidden="false" aria-label="Calendar icon" fontIcon="calendar_month"></mat-icon>
          <p class="label">Fecha:</p>
          <input formControlName="fecha" type="date" [readonly]="!isEditing" (change)="onDateChange($event)" />
        </div>
        <div class="dato">
          <mat-icon class="custom-icon" aria-hidden="false" aria-label="Location icon" fontIcon="location_on"></mat-icon>
          <p class="label">Localización:</p>
          <input formControlName="lugar" [readonly]="!isEditing" />
        </div>
      </div>
      
      <div class="second">
        <div class="tipo">
          <mat-icon class="custom-icon" aria-hidden="false" aria-label="Event type icon" fontIcon="directions_run"></mat-icon>
          <p class="label">Tipo de evento:</p>
          <div class="dropdown">
            <button class="dropdown-btn" [ngClass]="{'readonly': !isEditing}">
              {{ eventoForm.get('tipo')?.value || 'Seleccionar tipo' }}
            </button>
            <div *ngIf="isEditing" class="dropdown-content">
              <a href="javascript:void(0)" (click)="selectTipo('Maratón')">Maratón</a>
              <a href="javascript:void(0)" (click)="selectTipo('Correcaminata')">Correcaminata</a>
              <a href="javascript:void(0)" (click)="selectTipo('Participativo')">Participativo</a>
              <a href="javascript:void(0)" (click)="selectTipo('Caminata')">Caminata</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Distancias asociadas -->
      <div class="datos">
        <div class="dato">
          <mat-icon class="custom-icon" aria-hidden="false" aria-label="Distances icon" fontIcon="flag"></mat-icon>
          <p class="label">Distancias asociadas:</p>
        </div>
        <div class="distancias">
          <table>
            <thead>
              <tr>
                <th>Kilómetro</th>
                <th>Precio</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let distancia of (eventoForm.get('distancias')?.value || []); let i = index">
                
                <td>{{ distancia.km }} Km</td>
                <td>$ {{ distancia.precio }}</td>
                <td>
                  <button class="boton-eliminar" (click)="removeDistancia(i)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button *ngIf="isEditing" (click)="addDistancia()">Agregar Distancia</button>
        </div>

      </div>


    </div>
    <div class="update-image" *ngIf="isEditing">
      <input  type="file" (change)="onImageChange($event)" />
      <!-- <label *ngIf="isEditing" for="profileImage" class="add-icon">Subir nueva imagen</label> -->
    </div>
  </div>
            <!-- Botones de acción -->
            <div class="opciones">
              <button (click)="goBack()" style="border: none; text-decoration: underline;background:none;"> <- Regresar</button>
              <button type="submit" mat-raised-button color="primary" [disabled]="!isEditing">Guardar</button>
              <button style="background-color: rgb(36, 153, 173);" type="button" (click)="toggleEdit()">
                {{ isEditing ? 'Cancelar' : 'Editar' }}
              </button>
            </div>
</form>
</body>
