<body>

  <form [formGroup]="eventForm" >  
    <!-- (ngSubmit)="onSubmit()" -->
    <div class="container">
      <!-- Imagen del evento -->
      <img *ngIf="selectedFileUrl; else defaultImage" [src]="selectedFileUrl" alt="Profile Picture" class="imagen">
      <ng-template #defaultImage>

          <img *ngIf="imagenURL !== null" [src]="imagenURL" alt="Imagen del Evento" class="imagen">


          <img *ngIf="imagenURL === null" class="imagen" src="../../../../images/evento_empty.jpg" alt="Perfil">
 
      </ng-template>

        
      
      
      <!-- Contenido del formulario -->
      <div class="content">
          <div style="padding: 0px 30px;" class="dato" >
            <label for="nombre">Nombre:</label>
            <input formControlName="nombre" id="nombre" type="text" [readonly]="!isEditing" />
            <div *ngIf="isFieldInvalid(eventForm,'nombre')" class="error-message">
              El nombre del evento es obligatorio.
            </div>
          </div>
          
        <div class="datos2">
        <div class="dato">
          <label for="fecha">Fecha:</label>
          <input formControlName="fecha" id="fecha" type="date" [readonly]="!isEditing" (change)="onDateChange($event)" />
          <div *ngIf="isFieldInvalid(eventForm,'fecha')" class="error-message">
            La fecha del evento es obligatorio.
          </div>
        </div>
        <div class="dato">
          <label for="hora">Hora:</label>
          <input formControlName="hora" id="hora" type="time" [readonly]="!isEditing" (change)="onHoraChange($event)" />
          <div *ngIf="isFieldInvalid(eventForm,'hora')" class="error-message">
            La hora del evento es obligatorio.
          </div>
        </div>
        </div>
        <div class="datos2">
        <div class="dato">
          <label for="lugar">Localización:</label>
          <input formControlName="lugar" id="lugar" type="text" [readonly]="!isEditing" />
          <div *ngIf="isFieldInvalid(eventForm,'lugar')" class="error-message">
            El lugar del evento es obligatorio.
          </div>
        </div>
        <div class="dato">          
          <label for="tipoID">Tipo de evento:</label>
          <div class="custom-datepicker">
            <select formControlName="tipoID" id="tipoID" [disabled]="!isEditing">
              <option style="color: black;" *ngFor="let tipo of tipos" [value]="tipo.id">{{ tipo.descripcion }}</option>
            </select>
          </div>
          <div *ngIf="isFieldInvalid(eventForm,'tipoID')" class="error-message">
            El tipo de evento es obligatorio.
          </div>
        </div>
      </div>
      
      
      
      <!-- Distancias asociadas -->
      <div class="datos2">
        <div class="dato">
          <!-- <mat-icon class="custom-icon" aria-hidden="false" aria-label="Distances icon" fontIcon="flag"></mat-icon> -->
          <label for="distancias">Distancias asociadas:</label>
          <div class="distancias">
            <table>
              <thead>
                <tr>
                  <th>Kilómetro</th>
                  <th>Precio</th>
                  <th *ngIf="isEditing">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <!-- Fila dinámica -->
                <tr
                  *ngFor="let distancia of distancias; let i = index"
                >
                  <td>
                    {{distancia.km}} km
                  </td>
                  <td >
                    $ {{distancia.precio}}
                  </td>
                  <td *ngIf="isEditing">
                    <mat-icon (click)="deleteDistancia(distancia.id)"
                      class="boton-eliminar"
                      >delete</mat-icon
                    >
                  </td>
                </tr>
                
                <ng-container *ngIf="isEditing3">
                  
                  <tr >
                    <td >
                      <option style="color: aliceblue;text-wrap: auto;" *ngIf="dist.length === 0" disabled>No hay distancias adicionales</option>
                      <select *ngIf="dist.length !== 0" [(ngModel)]="distanciaSeleccionada" [ngModelOptions]="{standalone: true}">
                        <option style="color: black;" *ngFor="let d of dist" [value]="d.id">
                          ({{ d.km }} km)
                        </option>
                      </select>
                    </td>
                    <td > <!-- CAMBIAR -->
                      <div class="datoPrecio">
                        <input id="precio" type="number" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" />
                      </div>
                    </td>
                    <td >
                      <button mat-icon-button style="transform: scale(1);" (click)="aceptarDist()">
                        <mat-icon  style="color: rgb(0, 255, 21); "class="boton-eliminar">check</mat-icon>
                      </button>
                      <button mat-icon-button style="transform: scale(1);" (click)="cancelarDist()">
                        <mat-icon  style="color: rgb(189, 0, 0); "class="boton-eliminar">close</mat-icon>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div *ngIf="distancias.length === 0 && isEditing" class="error-message">
              Las distancias asociadas no pueden estar vacías.
            </div>
            <!-- Botón para agregar filas -->
            <button class="add" (click)="addDistancia()" *ngIf="isEditing" >+</button>
          </div>
          
        </div>

        <div class="dato">
          <!-- <mat-icon class="custom-icon" aria-hidden="false" aria-label="Distances icon" fontIcon="flag"></mat-icon> -->
          <label for="categorias">Categorias asociadas:</label>
          <div class="distancias">
            <table>
              <thead>
              <tr>
                <th>Rango de edad</th>
                <th *ngIf="isEditing">Acciones</th>
              </tr>
            </thead>
            

              <tbody >
                <tr *ngFor="let categoria of categorias; let i = index" >
                  <td>
                    ({{ categoria.edadInicio }} - {{ categoria.edadFin }})
                    
                  </td>
                  <td *ngIf="isEditing">
                  <mat-icon class="boton-eliminar" (click)="deleteCategoria(categoria.id)">delete</mat-icon>
                </td>
              </tr>
              <ng-container *ngIf="isEditing2">
                <tr >
                  <td >
                    <option style="color: aliceblue;text-wrap: auto;" *ngIf="cat.length === 0" disabled>No hay categorías adicionales</option>
                    <select *ngIf="cat.length !== 0" [(ngModel)]="categoriaSeleccionada" [ngModelOptions]="{standalone: true}">
                      <option style="color: black;" *ngFor="let c of cat" [value]="c.id">
                        {{ c.edadInicio }} - {{ c.edadFin }}
                      </option>
                    </select>
                  </td>
                  <td >
                    <button mat-icon-button style="transform: scale(1);" (click)="aceptarCat()">
                      <mat-icon  style="color: rgb(0, 255, 21); "class="boton-eliminar">check</mat-icon>
                    </button>
                    <button mat-icon-button style="transform: scale(1);" (click)="cancelarCat()">
                      <mat-icon  style="color: rgb(189, 0, 0); "class="boton-eliminar">close</mat-icon>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          
          </table>
          <div *ngIf="categorias.length === 0 && isEditing" class="error-message">
            Las categorias asociadas no pueden estar vacías.
          </div>
          <button class="add" (click)="addCategoria()" *ngIf="isEditing" >+</button>

        </div>
      </div>
      
      </div>


    </div>
    <div class="update-image" *ngIf="isEditing">
        <input id="eventImage" name="eventImage" style="display: none;" type="file" (change)="onImageChange($event)" />
        <label for="eventImage" class="add-icon">
          <mat-icon class="custom-icon">upload</mat-icon>
          Subir nueva imagen
        </label>
      <!-- <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="location_on"></mat-icon> -->
    </div>
  </div>
            <!-- Botones de acción -->
            <div class="opciones">
              <button (click)="goBack()" style="border: none; text-decoration: underline;background:none;"> <- Regresar</button>
              <button  (click)="Guardar()" mat-raised-button color="primary" [disabled]="!isEditing">Guardar</button>
              <button style="background-color: rgb(36, 153, 173);" type="button" (click)="toggleEdit()">
                {{ isEditing ? 'Cancelar' : 'Editar' }}
              </button>
            </div>
</form>
</body>
