<div class="fondo">

  <div class="container">
    
    <h1>Mi Perfil</h1>
    <form [formGroup]="perfilForm" (ngSubmit)="guardarCambios()">
      <!-- Email (No Editable) -->
      <div class="emailsec">
        <label for="email">Email:</label>
        <input formControlName="email" id="email" type="email" [disabled]="true" />
      </div>
      <div class="datos" >

        <!-- Nombre -->
        <div class="dato">
          <label for="nombre">Nombre:</label>
          <input formControlName="nombre" id="nombre" type="text" [readonly]="!isEditing" [disabled]="!isEditing"/>
        </div>
        
        <!-- Apellido -->
        <div class="dato">
          <label for="apellido">Apellido:</label>
          <input formControlName="apellido" id="apellido" type="text" [readonly]="!isEditing" [disabled]="!isEditing" />
        </div>
      </div>
      <div class="datos" >

        <!-- Teléfono -->
        <div class="dato">
          <label for="telefono">Teléfono:</label>
          <input formControlName="telefono" id="telefono" type="text" [readonly]="!isEditing" [disabled]="!isEditing"/>
        </div>

        
        <!-- Localidad -->
        <div class="dato">
          <label for="localidad">Localidad:</label>
          <input formControlName="localidad" id="localidad" type="text" [readonly]="!isEditing" [disabled]="!isEditing"/>
        </div>
      </div>
        
      <div class="datos" >

        <!-- Fecha de Nacimiento -->
        <div class="dato">
          <label for="fechaNacimiento">Fecha de Nacimiento:</label>
          <input formControlName="fechaNacimiento" id="fechaNacimiento" type="date" [readonly]="!isEditing" [disabled]="!isEditing"/>
        </div>
        
        <!-- Obra Social -->
        <div class="dato">
          <label for="obraSocial">Obra Social:</label>
          <input formControlName="obraSocial" id="obraSocial" type="text" [readonly]="!isEditing" [disabled]="!isEditing" />
        </div>
      </div>        
      <div class="datos" >

        <!-- DNI -->
        <div class="dato">
          <label for="dni">DNI:</label>
          <input formControlName="dni" id="dni" type="text" [readonly]="!isEditing" [disabled]="!isEditing"/>
        </div>
        
        <!-- Género -->
        <div class="dato">
          <label for="genero">Género:</label>
          <div class="custom-datepicker">
            <select formControlName="genero" id="genero" [disabled]="!isEditing" [disabled]="!isEditing" required matIconSuffix>
              <option style="color: black;" value="masculino">Masculino</option>
              <option style="color: black;" value="femenino">Femenino</option>
            </select>
          </div>
        </div>
      </div>
        

      
      <!-- Botones -->
      <div class="botones">
        <button type="button" *ngIf="!isEditing" (click)="habilitarEdicion()">Editar</button>
        <button type="submit" *ngIf="isEditing">Guardar</button>
        <button type="button" *ngIf="isEditing" (click)="cancelarEdicion()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>