<div class="container">

    <toolbar></toolbar>

  
    <main>
      <section class="buscador">
        <input type="text" placeholder="Buscar evento">
        <button mat-raised-button >Buscar</button>
      </section>
  
      <section class="eventos">
        <h2>Eventos próximos activos</h2>
        <div class="event-list">
          <app-carrusel></app-carrusel>
          <!-- <evento-card></evento-card>
          <evento-card></evento-card> -->
        </div>
        
      </section>
    </main>
  </div>