<div class="container">

  <div class="comentarios-header">
    <h1>Comentarios:</h1>
    <button [disabled]="!isAuthenticated || !estaInscrita" (click)="toggleFormulario()">+</button>
  </div>

  <div *ngIf="mostrarFormulario" class="comentario-formulario">
  <form [formGroup]="comentarioForm" (ngSubmit)="enviarComentario()">
    <textarea formControlName="contenido" placeholder="Escribe tu comentario..."></textarea>
    <button type="submit" (click)="enviarComentario()" [disabled]="!comentarioForm.valid">Enviar</button>
  </form>
</div>

<main>
  <div *ngFor="let comentario of comentarios" class="comentario">
    <!-- <img [src]="comentario.fotoPerfil" alt="Foto de perfil" class="foto-perfil"> -->
    <img src="{{comentario.imagenCorredor}}" alt="Foto de perfil" class="foto-perfil">
    <div class="contenido">
      <div class="nombre">{{ comentario.nombreCorredor }}</div>
      <div class="texto">{{ comentario.contenido }}</div>
      <div class="fecha">{{ comentario.fechaHora | date:'short' }}</div>
    </div>
    <hr>
  </div>

</main>
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<ng-container *ngIf="comentarios.length===0">
  <div style="color: aliceblue; font-size: large;">
    Todavía no hay comentarios
  </div>
  </ng-container>
  
</div>