html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .container {

    content: '';
    padding-top: 60px;
    position: absolute;
    background-color:rgb(9, 33, 43);
    left: 0;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    /* height: 100%; */
    background-size: cover;
    background-attachment: fixed;
    /* z-index: -1; Asegura que el pseudo-elemento esté detrás del contenido */
    background-repeat: no-repeat;
  }
  .buscador {
    width: 100%;
    max-width: 50%;
    margin: 50px auto;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 30px;
    backdrop-filter: blur(4px) saturate(180%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px 20px; */
  }
  
  .buscador input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #1d1d1d;
    /* width: 41.4%;
    height: 20px; */
  }
  ::placeholder{
    color: #1d1d1d;
  }
  .icono {
    background:  #58629b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    /* text-transform: capitalize; */
  }
  main{
   
  }
  .evento-container {
    /* display: flex; */
    /* align-items: flex-start; */
    /* flex-direction: column; */
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 15px 0;
    /* margin-bottom: 10px; */


    /* border-bottom: 1px solid #ccc; */
    
  }
.evento-content{
  padding: 0 20%;
}