<div class="container">
    <main class="main">
        <form #buscarForm="ngForm" (change)="buscar()">
            <section class="buscador">      
                <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input> -->
                <input type="text" name="texto" [(ngModel)]="parametrosBusqueda.texto" placeholder="Buscar evento" autocomplete="off">
                <mat-icon class="icono" aria-hidden="false" aria-label="Example calendar icon" fontIcon="search"></mat-icon>
            </section>
        </form>
        <ng-container *ngIf="eventos" >
              <ng-container *ngFor= "let eventoResp of eventos" class="evento-container">
                  <app-evento-card-h [eventoResp]="eventoResp"></app-evento-card-h>
              </ng-container>
            </ng-container>
    </main>
</div>
