<div class="container">
    <main class="main">
        <!--<form #buscarForm="ngForm" (change)="">-->
            <section class="buscador">      
                <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input> -->
                <input type="text" name="texto" [(ngModel)]="searchText" placeholder="Buscar chat" autocomplete="off">
                <mat-icon class="icono" aria-hidden="false" aria-label="Example calendar icon" fontIcon="search"></mat-icon>
            </section>
            <div style="justify-content: end; padding-right: 10%;display: flex; padding-bottom: 15px;">
              <button (click)="abrirChatSelector()" class="agregar-button"> +   Nuevo chat</button>
            </div>
        <!--</form>-->
        <!-- <div class="evento-wrapper"> -->
            <div class="evento-container">
              <!-- <ng-container *ngIf="eventos"> -->
                <ng-container *ngFor="let chat of chats | filterByName: searchText">
                  <div class="evento-content">
                    <div class="evento-sec">
                      <div class="evento">
                        <div class="card" routerLink="/chat/{{chat.destinatario.id}}">
      
                            <img [src]="chat.destinatario.imagen" alt="Event Image" class="foto-perfil">
                            <div class="contenido">
                                    <div class="nombre">{{chat.destinatario.nombre}} {{chat.destinatario.apellido}}</div>
                                    <!-- <div class="texto">{{ chat.mensajes[0].contenido }}</div> -->
                                    <!-- <div class="fecha">{{ chat.mensajes[0].fechaHoraEnvio | date:'dd/MM/yyyy HH:mm' }} </div> -->
                                    <span *ngIf="chat.cantidadSinLeer > 0" class="unread-indicator">{{chat.cantidadSinLeer}}</span>
                              </div>
                              
                          </div>
                      </div>
                      
                    </div>
                    
                  </div>
                </ng-container>
              <!-- </ng-container> -->
            </div>
          <!-- </div> -->
    </main>
</div>

