
.agregar{
    margin-right: 50px;
    width: 20%;
    border: none;
    height: 40px;
    margin-top: 10px;
    background-color: #65bbc7;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;

}
.agregar-container{
    justify-content: end;
    display: flex;
}
.container {
    /* padding-top: 60px; */
    position: absolute;
    background-color:rgb(9, 33, 43);
    left: 0;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    /* height: 100%; */
    background-size: cover;
    background-attachment: fixed;
    /* z-index: -1; Asegura que el pseudo-elemento esté detrás del contenido */
    background-repeat: no-repeat;
  }
main{
  padding-top: 80px;
}

  th.mat-sort-header-sorted {
    color: rgb(0, 0, 0);
  }
  .filtro{
      width: 60%;
      display: flex;
      justify-content: center;
      padding: 1% 0px 0% 20%;
      margin-top: -40px;
      
  }
  .tabla{
      padding: 20px 9% ;
      /* text-align: center; */
      justify-items: center;
  }
  .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
      
    }
    .mat-header-cell {
        text-align: center;
      }
table th{
    background-color: #419197;
    justify-content: center;
    font-weight: bold;
}
    td, th {
      width:fit-content;
      text-align: center;
      /* background-color: #97bce688; */
      color: rgb(9, 36, 59);
    }
  .paginator{
      background-color:#419197;
      width: 100%;
  }

button{

    /* background-color: #65bbc7; */
    color: rgb(9, 33, 43);

    cursor: pointer;
}
.header{
  display: flex;
  justify-content: center;
  color: aliceblue;
  h2{
    font-size: 30px;
  }
}
.volunteer-list {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  gap: 25px; /* Espacio entre los elementos */
}


.mat-cell {
  padding: 0px; /* Ajusta el padding si es necesario */
}
/* tasks.component.css */
th {
  justify-content: center; 
}
.comment-bubble {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 200px;
  z-index: 1000;
  white-space: nowrap;
}

.mat-cell {
  position: relative;
}

button.mat-icon-button {
  position: relative;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.red-circle {
  position: absolute;
  top: 7px;
  right: 3px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white; /* Opcional: para un borde blanco alrededor */
  z-index: 10;
}

.comment-bubble {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 200px;
  z-index: 1000;
  white-space: nowrap;
}

.comment-bubble::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ccc transparent;
}