<div class="container">
    <main class="main">
      <button (click)="goBack()" style="color: aliceblue;margin-top: 20px; text-decoration: underline; border: none; background-color: transparent; width: fit-content;">
        <--Regresar
      </button>
      <div class="header"><h2>Tareas {{ nombreEvento}} </h2></div>
        <div class="agregar-container">
          <button 
           class="agregar" 
            [routerLink]="'/ABM-Tareas'" 
            [queryParams]="{id: id }">
  + Agregar tarea
</button>
        </div>
      <div class="tabla" *ngIf="dataSource && dataSource.data.length > 0; else noTasks">
  
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- Ubicacion Column -->
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef >Descripcion</th>
                <td mat-cell *matCellDef="let task">{{ task.descripcion }}</td>
              </ng-container>


  
          <!-- FechaHora Column -->
          <ng-container matColumnDef="fechaHora">
            <th mat-header-cell *matHeaderCellDef >Fecha</th>
            <td mat-cell *matCellDef="let task">{{ task.fechaHora | date }}</td>
          </ng-container>
  
          <!-- Ubicacion Column -->
          <ng-container matColumnDef="ubicacion">
            <th mat-header-cell *matHeaderCellDef >Ubicación</th>
            <td mat-cell *matCellDef="let task">{{ task.ubicacion }}</td>
          </ng-container>
  
          <!-- Comentario Column -->
          <ng-container matColumnDef="comentario">
            <th mat-header-cell *matHeaderCellDef>Comentario</th>
            <td mat-cell *matCellDef="let task">
                <div *ngFor="let volunteer of task.tareaVoluntarios">
                  <button mat-icon-button (click)="toggleComment(task.id, volunteer.voluntarioID, volunteer.comentario)">
                    <mat-icon>mail</mat-icon>
                    <span *ngIf="volunteer.comentario" class="red-circle"></span>
                  </button>
                  <div *ngIf="isCommentVisible(task.id, volunteer.voluntarioID)" class="comment-bubble">
                    {{ getComment(task.id, volunteer.voluntarioID) }}
                  </div>
                </div>
              </td>
          </ng-container>
  
          <ng-container matColumnDef="voluntarios">
            <th mat-header-cell *matHeaderCellDef>Voluntarios</th>
            <td mat-cell *matCellDef="let task">
              <div class="volunteer-list">
                <div *ngFor="let volunteer of task.tareaVoluntarios">
                  {{ volunteer.nombre }} {{ volunteer.apellido }}
                </div>
              </div>
            </td>
          </ng-container>
                    <!-- Estado Column -->
                    <ng-container matColumnDef="estado">
                        <th  mat-header-cell *matHeaderCellDef >Estado</th>
                        <td mat-cell *matCellDef="let task">
                          <div class="volunteer-list">
                            <div *ngFor="let volunteer of task.tareaVoluntarios">
                              {{ volunteer.estado }}
                              <!-- {{ getTareaVoluntarioEstado(task.tareaID, volunteer.id) }} -->
                            </div>
                          </div>
                        </td>
                      </ng-container>
  
           <!-- Chat Column -->
           <ng-container matColumnDef="chat">
            <th mat-header-cell *matHeaderCellDef>Chat</th>
            <td mat-cell *matCellDef="let task">
              <div *ngFor="let volunteer of task.tareaVoluntarios">
                <button mat-icon-button routerLink="/chat/{{volunteer.voluntarioID}}">
                  <mat-icon>forum</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef>Editar</th>
            <td mat-cell *matCellDef="let task">
              <button mat-icon-button routerLink="/ABM-Tareas/{{task.id}}" [queryParams]="{ nombre: nombreEvento }"style="background-color: rgba(184, 184, 184, 0.459);border-radius: 10px;">
                <mat-icon >edit</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="paginator"></mat-paginator>
      </div>
      <ng-template  #noTasks>
        <div style="display: flex;justify-content: center;height: 300px;align-items: center;color: antiquewhite; " >
          <p style="font-size: 20px;">No hay tareas creadas para este evento.</p>
        </div>
      </ng-template>
    </main>
  </div>
  