
<div class="fixed">
  <div class="header">
    <app-header></app-header>
  </div>
  <nav>
    <!-- CORREDOR=1 -->
    <ng-container *ngIf="!isLoginPage">
    <ng-container *ngIf="userRole === 1">
      <ul>
        <li (click)="navegar('inicio')" [ngClass]="{seleccionado: seleccionado[0]}">Inicio</li>
        <li (click)="navegar('proximos-eventos')" [ngClass]="{seleccionado: seleccionado[1]}">Próximos Eventos</li>
        <li (click)="navegar('resultados')"[ngClass]="{seleccionado: seleccionado[2]}">Resultados</li>
        <ng-container *ngIf="isAuthenticated">
          <li (click)="navegar('misEventos')"[ngClass]="{seleccionado: seleccionado[3]}">Mis Eventos</li>
        </ng-container>
      </ul>
    </ng-container>
  </ng-container>
    <!-- VOLUNTARIO=3 -->
    <ng-container *ngIf="userRole === 3">
      <ul>
        <li (click)="navegar('eventos')" [ngClass]="{seleccionado: seleccionado[0]}">Eventos</li>
        <li (click)="navegar('chats')" [ngClass]="{seleccionado: seleccionado[1]}">Chats</li>
      </ul>
    </ng-container>
    <!-- ADMIN=2 -->
    <ng-container *ngIf="userRole === 2">  
      <ul>
        <li (click)="navegar('ABM-Eventos')" [ngClass]="{seleccionado: seleccionado[0]}">ABM Eventos</li>
        <li (click)="navegar('chats')" [ngClass]="{seleccionado: seleccionado[1]}">Chats</li>
        <li (click)="navegar('ABM-Colaboradores')"[ngClass]="{seleccionado: seleccionado[2]}">ABM Colaboradores</li>
        <li (click)="navegar('vistaTareas')"[ngClass]="{seleccionado: seleccionado[3]}">Vista Tareas</li>
      </ul>
    </ng-container>
  </nav>
</div>