
<div class="fixed">
  <div class="header">
    <app-header></app-header>
  </div>
  <nav>
    <ng-container *ngIf="userRole === 'usuario'">
      <ul>
        <li (click)="navegar('inicio')" [ngClass]="{seleccionado: seleccionado[0]}">Inicio</li>
        <li (click)="navegar('proximos-eventos')" [ngClass]="{seleccionado: seleccionado[1]}">Próximos Eventos</li>
        <li (click)="navegar('resultados')"[ngClass]="{seleccionado: seleccionado[2]}">Resultados</li>
      </ul>
    </ng-container>
    <ng-container *ngIf="userRole === 'voluntario'">
      <ul>
        <li (click)="navegar('inicio')" [ngClass]="{seleccionado: seleccionado[0]}">Eventos</li>
        <li (click)="navegar('proximos-eventos')" [ngClass]="{seleccionado: seleccionado[1]}">Chats</li>
      </ul>
    </ng-container>
    <ng-container *ngIf="userRole === 'admin'">
      <ul>
        <li (click)="navegar('inicio')" [ngClass]="{seleccionado: seleccionado[0]}">ABM Eventos</li>
        <li (click)="navegar('proximos-eventos')" [ngClass]="{seleccionado: seleccionado[1]}">Chats</li>
        <li (click)="navegar('resultados')"[ngClass]="{seleccionado: seleccionado[2]}">ABM Colaboradores</li>
        <li (click)="navegar('resultados')"[ngClass]="{seleccionado: seleccionado[3]}">Vista Tareas</li>
      </ul>
    </ng-container>
  </nav>
</div>