<div class="header">
    <mat-toolbar class="mat">
        <img src="images/Logo2.gif" alt="Logo" class="logo" height="50" width="150">
        <span class="example-spacer"></span>
        <button mat-raised-button>Crear cuenta</button>
        <button mat-raised-button color="primary" >Inicia sesion</button>
    </mat-toolbar>
</div>
<div>
    
        <nav>
            <ul>
              <li><a href="#" class="active">Inicio</a></li>
              <li><a href="#">Próximos Eventos</a></li>
              <li><a href="#">Resultados</a></li>
            </ul>
          </nav>
    
</div>
