.example-spacer {
    flex: 1 1 auto;
  }

  #mat {
    background-color: #419197;
    color: #002717;
    padding: 20px;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
  }
  button{
    margin: 0px 10px;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }
.logo {
    cursor: pointer;
}

  .fixed{
    width: 100%;
    z-index: 1000;
    top: 0px;
    position: fixed;
    left: 0px;
  }
.derecha {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
}
.custom-icon {
  font-size: 3rem; /* Ajusta este valor para cambiar el tamaño del icono */
  vertical-align: middle; /* Alinea el icono verticalmente con el texto */
  margin-left: 10px; /* Espacio entre el icono y el texto */
  color: rgb(0, 0, 0, 0.8); /* Color del icono */
  line-height: 1;
  width: 50px;
  height: auto;
}