.example-spacer {
    flex: 1 1 auto;
  }

  #mat {
    background-color:#419197 ;
    color: #002717;
    height: 60px;
    /* padding: 20px; */
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
  }
  button{
    margin: 0px 1%;
    border: none;
    margin-left: 1%;
    border-radius: 10px;
    padding: 0.8%;
    cursor: pointer;
  }
  .mat-mdc-menu-item .mat-icon {
    margin-left: 16px;
    margin-right: 16px;
}

.logo {
    cursor: pointer;
    height:50px;
    width:150px;
}

  .fixed{
    width: 100%;
    z-index: 1000;
    top: 0px;
    position: fixed;
    left: 0px;
  }
.derecha {
  display: flex;
  justify-content: right;
  width: 100%;
  align-items: center;
  margin: 10px;

  
}
.custom-icon {
  font-size: 3rem; /* Ajusta este valor para cambiar el tamaño del icono */
  vertical-align: middle; /* Alinea el icono verticalmente con el texto */
  margin-left: 10px; /* Espacio entre el icono y el texto */
  color: rgb(0, 0, 0, 0.8); /* Color del icono */
  line-height: 1;
  width: 50px;
  height: auto;
}
.imagen{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  /* margin: 0px 10px; */
    padding: 5px;
    cursor: pointer;
}
.perfil{
  display: flex;
  align-items: center;
  color: aliceblue;
}
.name{
  display: flex;
    flex-direction: row; /* Alinea nombre y apellido en una fila */
    align-items: center;
  .nombre{
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  .logo{
    height:auto;
    width:100px;
  }
  button{
    font-size: 10px;
    height: 30px;
  }
  .name{
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente, si es necesario */
    margin-left: 10px;
    padding: 10px 0;
  }
  .perfil{
    font-size: 12px;

    .imagen{
      width: 30px;
      height: 30px;
    }
    
  }
  .name .nombre {
      margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
      margin-bottom: -50px; /* Espacio entre el nombre y el apellido en pantallas pequeñas */
  }


}