<body>
    <div *ngIf="eventoData" class="container">
      <div class="imagen-y-opciones">
        <img [src]="imagenURL" alt="Descripción de la imagen" class="imagen">
        <div class="opciones">
            <button (click)="goBack()" style="border: none; color:aliceblue; background-color: rgb(83, 82, 82);justify-content: center;">← Regresar</button>
           
        </div>
    </div>

      <div class="content">
          <div class="titulo-container">
            <div class="titulo">Datos de inscripción</div>
            <div class="titulo2">{{eventoData.nombreEvento}}</div>
          </div>
          <div class="datos">
            <div class="dato">
              <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="calendar_month"></mat-icon>
              <p class="label">Fecha:</p>
              <p class="date">{{ getFormattedDate(eventoData.fecha) }}</p>
            </div>
            <div class="dato">
              <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="schedule"></mat-icon>
              <p class="label">Hora:</p>
              <p class="date">{{ getFormattedTime(eventoData.fecha) }}</p>
            </div>
            <div class="dato">
              <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="location_on"></mat-icon>
              <p class="label">Localización:</p>
              <p class="date">{{ eventoData.lugarEvento }}</p>
            </div>
            <div class="dato">
              <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="directions_run"></mat-icon>
              <p class="label">Tipo de evento:</p>
              <p class="date">{{ eventoData.tipo }}</p>
            </div>

          </div>
          <!--<div class="second">
            <div class="tipo">
              <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="directions_run"></mat-icon>
              <p class="label">Tipo de evento:</p>
              <p class="date">{{ eventoData.evento.tipo.descripcion }}</p>
            </div>
          </div>-->
          <div class="datos">
              <div class="item">
                <div class="columna">
                  <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="flag"></mat-icon>
                  <p class="label">Distancia:</p>
                </div>
                <div class="distancias">
                  <table>
                    <thead>
                      <tr>
                        <th>Kilometro</th>
                        <th>Precio</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  class="distancia-item">
                        <td>{{ eventoData.distancia.km }} Km</td>
                        <td>$ {{ eventoData.distancia.precio }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            
              <div class="item">
                <div class="columna">
                  <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="local_offer"></mat-icon>
                  <p class="label">Categorías asociadas:</p>
                </div>
                <div class="distancias">
                  <table>
                    <thead>
                      <tr>
                        <th>Edad Inicio</th>
                        <th>Edad final</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  class="distancia-item">
                        <td>{{ eventoData.categoria.edadInicio }}</td>
                        <td>{{ eventoData.categoria.edadFin }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>


</body>
