html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #04364A;
    /* display: flex */
  }
  
  .container {
    padding: 9% 3%;
    margin: 0;
    display: grid;
    grid-template-columns: 4fr 4fr; /* Define dos columnas, una para la imagen y otra para el contenido */
    gap: 16px; /* Espacio entre las columnas */
    /* margin: 5% 5%; Ajusta los márgenes según tus necesidades */
    align-items: start; /* Alinea el contenido al inicio */
    justify-items: center;
  }
  
  .imagen {
    width: 100%; /* La imagen ocupará toda la columna */
    height: 70%; /* Mantén la proporción de la imagen */
    
  border: 3px solid white; /* Añade un borde blanco más grueso */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Añade una sombra más fuerte */
    background-color: white; /* Asegúrate de que el área dentro del borde sea blanca */
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .titulo {
    padding-left: 20%;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
  .second{
    padding: 0px 30px;
    margin-bottom: -10px;
    /* margin-top: -20px; */
  }
  .datos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas para los datos */
    gap: 1px; /* Espacio entre las columnas */
    /* padding: 0px 0px; */
    margin-top: -15%;
    align-items: start;
  }

  
  .distancia-item {
    background-color: #ffffff;
  }
  .dato {
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    
  }
  .custom-icon {
    font-size: 3rem; /* Ajusta este valor para cambiar el tamaño del icono */
    vertical-align: middle; /* Alinea el icono verticalmente con el texto */
    margin-right: 0%; /* Espacio entre el icono y el texto */
    color: white; /* Color del icono */
    line-height: 1;
    width: 50px;
    height: auto;
  }
  .tipo{
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: max-content;
    margin-bottom: 15px;
  }
  .label {
    margin: 0; /* Quita el margen predeterminado del <p> */
    font-weight: 500; /* Hace el texto "Fecha:" en negrita */
    padding: 9px;
    font-size: 20px;
    text-decoration: underline ;
    text-decoration-thickness: 1px;
    color: aliceblue;
  }
  label {
    color: aliceblue;
    margin-top: 30px;
  }
  
  .date {
    margin: 0; /* Quita el margen predeterminado del <p> */
    font-size: 18px;
  }
  .fecha, .lugar, .descripcion {
    color: white;
    font-size: 16px;
  }
  
    .opciones {
      display: flex;
      justify-content: center;
      padding-top: 5%
; /* Opcional: Espacio entre botones */
      /* position: fixed; */
      /* bottom: 20%;
      
      transform: translate(5%, -200%); */
  }
  button{
  
    height: auto;
    width: 200px;
    margin: 0px 10px;
    color: aliceblue;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: larger;
  }

  #categoria{
    height: 50px;
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #9dafb6;
    color:#00000079;
    font-size: larger;
    text-indent: 20px;
  }

  .boton-mp {
    display: flex;                /* Usar flexbox para alinear elementos */
    align-items: center;         /* Centrar verticalmente */
    justify-content: center;      /* Centrar horizontalmente */
    padding: 10px 20px;         /* Espaciado interno del botón */
}

.payment-icon {
    width: auto;                 /* Mantener proporciones del ícono */
    margin-right: 8px;          /* Espacio entre el ícono y el texto */
}