<body>
    <!-- <app-header></app-header> -->
    <div *ngIf="eventoData" class="container">
        <div class="imagen-y-opciones">
            <img [src]="imagenURL" alt="Descripción de la imagen" class="imagen">
            <div class="datos">
                <div class="dato">
                <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="calendar_month"></mat-icon>
                <p class="label">Fecha:</p>
                <p class="date">{{ getFormattedDate(eventoData.evento.fecha) }}</p>
                </div>
                <div class="dato">
                <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="location_on"></mat-icon>
                <p class="label">Localización:</p>
                <p class="date">{{ eventoData.evento.lugar }}</p>
                </div>
                <div class="dato">
                    <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="directions_run"></mat-icon>
                    <p class="label">Tipo de evento:</p>
                    <p class="date">{{ eventoData.evento.tipo.descripcion }}</p>
                </div>
                <div class="dato">
                    <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="schedule"></mat-icon>
                    <p class="label">Hora:</p>
                    <p class="date">{{ getFormattedTime(eventoData.evento.fecha) }}</p>
                  </div>
            </div> 
        </div>
        
        <div class="content">
            <div style="width: 100%;padding-left: 10px;" class="titulo">Inscripción  </div>
            <div style="font-size: 25px; display: flex;color: aliceblue; justify-content: center;margin-top: 20px; margin-bottom: -10px;" >{{eventoData.evento.nombre}}</div>
            <label for="categoria">Categoría:</label>
            <input *ngIf="categoria!=null" type="text" id="categoria" [value]="categoria.edadInicio +'-'+ categoria.edadFin" readonly>
            <input style="font-size: larger; height: 50px;margin-bottom: 20px;padding-left: 40px; color:rgb(169, 25, 25); background-color: grey;" *ngIf="categoria==null" type="text" id="-" [value]="'No se encuentran asociadas categorias para su edad en este evento'" readonly>

            <!-- <label for="talle">Talle remera:</label> -->
            <mat-form-field>
                <mat-label>Talle remera:</mat-label>
                <mat-select [(ngModel)]="talleSelect" name="talle">
                @for (talle of talles; track talles) {
                    <mat-option [value]="talle.value">{{talle.viewValue}}</mat-option>
                }
                </mat-select>
            </mat-form-field>
            
            <!-- <div *ngIf="inscripcionForm.get('talleRemera').invalid && inscripcionForm.get('talleRemera').touched">
                Seleccionar un talle de remera es obligatorio.
              </div> -->
            <mat-form-field>
                <mat-label>Distancia:</mat-label>
                <mat-select [(ngModel)]="distanciaSelect" name="distancia">
                @for (dist of eventoData.distancias; track eventoData.distancias) {
                    <mat-option [value]="dist.distanciaID">{{dist.km}} km  -  ${{dist.precio}}</mat-option>
                }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <!-- <label for="pago">Método de pago:</label> -->
                <mat-label>Método de pago*: </mat-label>
                <mat-select [(ngModel)]="pagoSelect" name="metodoPago">
                    @for (pago of metodosPago; track metodosPago) {
                        <mat-option [value]="pago.value">{{pago.viewValue}}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>
            <div *ngIf="pagoSelect === 'Efectivo'" style="color: rgb(15, 2, 49); background-color: rgba(122, 255, 211, 0.521); display: flex; align-items: center;">
                <mat-icon class="custom-icon" aria-hidden="false" aria-label="Example calendar icon" fontIcon="report"></mat-icon>
                <p style="margin: 0;">Se abona presencialmente el día anterior al evento durante la entrega de kits</p>
            </div>
            <div *ngIf="pagoSelect != 'Efectivo'" style="color: #04364A; background-color: none; display: flex; align-items: center;">
                <p style="margin: 0;">Se abona presencialmente el aaaaaaa día anterior al evento durante la entrega de kits</p>
            </div>
            <div *ngIf="errorMessage" style="color: red;display: flex; margin-left: 10%;margin-top: 33%;position: absolute;">{{ errorMessage }}</div>
                <!-- <mat-select [(ngModel)]="pagoSelect" name="pago">
                @for (met of metodos; track metodos) {
                    <mat-option [value]="met.value">{{met.value}}</mat-option>
                }
                </mat-select>
            </mat-form-field> -->

        </div>
          
        <div></div>

        <div class="opciones">
            <button routerLink="inicio" style="grid-column: 2;border: none; text-decoration: underline;background:none;width: 40%;"> <- Regresar</button>
            <button *ngIf="pagoSelect != 'Mercado Pago'" mat-raised-button (click)="onInscribirse()" color="primary">Inscribirse</button>
            <button class="boton-mp" *ngIf="pagoSelect === 'Mercado Pago'" mat-raised-button (click)="pagar()" color="primary">
                <span class="mdc-button__label" style="display: flex; align-items: center;">
                    <img src="../../../../images/mercado-pago.png" class="payment-icon" alt="Mercado Pago">
                    <span>Pagar</span>
                </span>
            </button>

        </div> 
    </div>


</body>
