
<div class="fondo">
    <div class="signup-container">
      <button routerLink="/chats" style="cursor:pointer; color: aliceblue; text-decoration:underline; border: none;background-color:transparent;width: fit-content;"><--Regresar</button>
            <div class="chat-header" *ngIf="otro">
              <img [src]="imagenURL" alt="Foto del chat" class="chat-image" />
              <div class="chat-info">
                <p class="nombre"><strong> {{ otro.nombre }} {{ otro.apellido }}</strong></p>
                <!-- <p class="dia">{{ chat.mensajes[0].fechaHoraEnvio| date:'dd/MM/yyyy' }}</p> -->
              </div>
            </div>
          <ng-container *ngIf="mensajes">
            <div class="chat-messages" #messagesContainer>
              <ng-container *ngFor="let mensaje of mensajes">
                <div class="message" [ngClass]="{'from-me': mensaje.remitenteID === usuarioID, 'from-others': mensaje.remitenteID !== usuarioID}">
                  <!-- <p><strong>ID Emisor:</strong> {{ mensaje.idEmisor }}</p> -->
                  <p class="msj"> {{ mensaje.contenido }}</p>
                  <p class="hora">{{ mensaje.fechaHoraEnvio | date:'HH:mm' }}</p>
                </div>
              </ng-container>
            </div>
          </ng-container>
            <div class="chat-input">
                <input [(ngModel)]="nuevoMensaje" placeholder="Escribe un mensaje..." (keydown.enter)="enviarMensaje()">
                <button (click)="enviarMensaje()">
                  <mat-icon>send</mat-icon>
                </button>
            </div>
    </div>
</div>