<header class="toolbar">
    <div class="toolbar-content">
      <h1>Mi Aplicación</h1>
    </div>
  </header>
  
  <main class="confirmation-container">
    <div class="confirmation-message">
      <h2>¡Cuenta confirmada con éxito!</h2>
      <p>Su cuenta ha sido confirmada y se ha registrado como usuario satisfactoriamente. Puede proceder a iniciar sesión y disfrutar de nuestros servicios.</p>
      <button (click)="goToLogin()" class="login-button">Iniciar Sesión</button>
    </div>
  </main>
  