<div class="fondo">
    <div class="signup-container">
      <div>
          <p class="title">Cambiar contraseña</p>
          <div class="back-link">
            <a (click)="goBack()" style="color: aliceblue; margin-left: 5px; text-decoration: underline; cursor: pointer;">← Volver</a>
          </div>
      </div>

      <!-- <form (ngSubmit)="onSubmit()"> -->
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="data">
                <label for="currentPassword">Contraseña Actual</label>
                <input type="password" id="currentPassword" formControlName="currentPassword">
                <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched" class="error-message">
                  <small>La contraseña actual es obligatoria.</small>
                </div>
            </div>
            <div class="data">
                <label for="newPassword">Nueva Contraseña</label>
                <input type="password" id="newPassword" formControlName="newPassword">
                <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="error-message">
                  <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">La nueva contraseña es obligatoria.</small>
                  <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">La nueva contraseña debe tener al menos 6 caracteres.</small>
                </div>
            </div>
            <div class="data">
                <label for="confirmPassword">Confirmar Nueva Contraseña</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword">
                <div *ngIf="changePasswordForm.errors?.['mismatch'] && (changePasswordForm.get('confirmPassword')?.touched || changePasswordForm.get('newPassword')?.touched)" class="error-message">
                  <small>Las contraseñas no coinciden.</small>
                </div>
            </div>


            <div class="button-container">
              <button type="submit" style="margin-top: 10px;">Cambiar</button>
              <p style="margin-top: -2%;" *ngIf="showError" class="error-message">{{ errorMessage }}</p>
            </div>
      </form>
    </div>
  </div>
  <div class="background">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
