<div class="modal">
    <div class="modal-content">
      <h2>Enviar Email</h2>
      <form id="emailForm" (ngSubmit)="enviarEmail()">
        <div class="form-group">
          <label for="asunto">Asunto</label>
          <input type="text" id="asunto" [(ngModel)]="asunto" name="asunto" required>
        </div>
        
      
       <!-- Editor de TinyMCE -->
       <div class="form-group">
        <label for="mensaje">Mensaje</label>
        <editor
          apiKey="gu44nmd8ifc16v9ze0u4tey3hbzwk88pcmmenye3d7r5tv26"
          id = "mensaje"
          [(ngModel)]="mensaje"
          name="mensaje"
          [init]="tinyMceConfig">
        </editor>
      </div>

        <div class="form-actions">
          <button type="button" class="cancel-btn" (click)="closeModal()">Cancelar</button>
          <button type="submit" class="send-btn">Enviar</button>
        </div>
      </form>
    </div>
  </div>
  
  <div id="snackbar"></div>
  

