<div class="modal">
    <div class="modal-content">
      <h2>Enviar Email</h2>
      <form id="emailForm" (ngSubmit)="enviarEmail()">
        <div class="form-group">
          <label for="asunto">Asunto</label>
          <input type="text" id="asunto" [(ngModel)]="asunto" name="asunto" required>
        </div>
        <div class="form-group">
          <label for="mensaje">Mensaje</label>
          <textarea id="mensaje" [(ngModel)]="mensaje" name="mensaje" required></textarea>
        </div>
        <div class="form-actions">
          <button type="button" class="cancel-btn" (click)="closeModal()">Cancelar</button>
          <button type="submit" class="send-btn">Enviar</button>
        </div>
      </form>
    </div>
  </div>
  
  <div id="snackbar"></div>
  

