
    <div class="card">
      
      <!-- <img [src]="comentario.fotoPerfil" alt="Foto de perfil" class="foto-perfil"> -->
      <!-- <img src="../../../images/perfil-empty.jpg" alt="Foto de perfil" class="foto-perfil"> -->
      <img [src]="imagenURL" alt="Event Image" class="foto-perfil">

      <div class="contenido">
          <div class="nombre">{{formattedName}}</div>
          <div class="texto">{{ eventoResp.lugar }}</div>
          <div class="fecha">{{ formattedDate }}</div>
        </div>
        <ng-container *ngIf="userRole === 4">  
          <button class="boton" routerLink="/listaInscriptos/{{eventoResp.id}}">Ver</button>
        </ng-container>
        <ng-container *ngIf="userRole != 4">  
          <button mat-icon-button style="transform: scale(2);    margin-right: 20px;" routerLink="/verEvento/{{eventoResp.id}}">
            <mat-icon  style="color: rgb(0, 0, 0); margin-inline-start: 0px;cursor: pointer;">info</mat-icon>
          </button>
        </ng-container>
        
    </div>

