body {
    font-family: sans-serif;
    
  }
  .container {
    /* width: 100%; */
    /*max-width: 1200px;*/
    margin: 0 auto;

  }
  .container::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 2000px;
    /* height: 100%; */
    background-image: url(../../../../images/bici2.jpg);
    background-size: cover;
    background-attachment: fixed;
    filter: blur(2px); /* Aplica un desenfoque de 5 píxeles al pseudo-elemento */
    z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 24px;
  }

  .buscador {
    width: 100%;
    max-width: 50%;
    margin: 20px auto;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 30px;
    backdrop-filter: blur(4px) saturate(180%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px 20px; */
  }
  
  .buscador input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #1d1d1d;
    /* width: 41.4%;
    height: 20px; */
  }
  ::placeholder{
    color: #1d1d1d;
  }

  .icono {
    background:  #58629b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    /* text-transform: capitalize; */
  }
  
  .eventos {
    /* margin-top: 20px; */
    padding: 30px;
    
  }
 
  .event-list{
    background-color: rgb(65, 145, 151, 0.8);
    border-radius: 10px;
    justify-content: space-around;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    /* padding: 2%;  */

  } 
  .full-width {
    width: 100%;
    height: 100%;
  }
   .eventos h2 {
    font-size: 40px;
    color: #f7f3f3;
    font-weight: bold;
   }
/*   
  .eventos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .eventos li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .eventos li img {
    width: 150px;
  }
  
  .eventos li h3 {
    font-size: 16px;
  }
  
  .eventos li p {
    font-size: 14px;
  }
  
  .eventos li button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  } 
*/

.sobre-nosotros{
  display: flex;

  width: 100%;
}

.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.main{
  margin-top: 120px;
}
