<div class="container">
  <div class="contenedor-general">
    <div class="datos">
          <div class="header">
            <h1>Distancias</h1>
            <button class="agregar-button" (click)="agregarNuevaDistancia()"> + Nuevo </button>
          </div>
          <div class="lista-distancias">
            <table>
              <thead>
                <tr>
                  <th>Distancia (km)</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let distancia of distancias">
                  <td>
                    <!-- Campo editable cuando la distancia está en modo edición -->
                    <ng-container *ngIf="editDistanceId === distancia.id; else normalView">
                      <input class="input" type="text" [(ngModel)]="editedKm" style="text-align: center;" />
                    </ng-container>
                    <!-- Vista normal cuando no está en modo edición -->
                    <ng-template #normalView>
                      {{ distancia.km }} km
                    </ng-template>
                  </td>
                  <td>
                    <!-- Botones de Aceptar y Cancelar en modo edición -->
                    <ng-container *ngIf="editDistanceId === distancia.id; else actionButtons">
                      <button mat-icon-button style="transform: scale(1);" (click)="aceptarEdicion()">
                        <mat-icon  style="color: rgb(0, 255, 21); margin-inline-start: 0px;">check</mat-icon>
                      </button>
                      <button mat-icon-button style="transform: scale(1);" (click)="cancelarEdicion()">
                        <mat-icon  style="color: rgb(189, 0, 0); margin-inline-start: 0px;">close</mat-icon>
                      </button>
                    </ng-container>
                    <!-- Botones de Editar y Eliminar en modo vista -->
                    <ng-template #actionButtons>
                      <button mat-icon-button (click)="selectDistancia(distancia)">
                        <mat-icon style="color: rgb(210, 211, 211); margin-inline-start: 0px;">edit</mat-icon>
                      </button>
                      <button mat-icon-button (click)="deleteDistancia(distancia.id)">
                        <mat-icon style="color: rgb(189, 0, 0); margin-inline-start: 0px;">delete</mat-icon>
                      </button>
                    </ng-template>
                  </td>
                </tr>
                <tr *ngIf="isAddingNew">
                  <td>
                    <input class="input" type="text" [(ngModel)]="newDistanceKm" placeholder="Ingrese distancia en km" />
                  </td>
                  <td>
                    <button mat-icon-button style="transform: scale(1);" (click)="aceptarNuevaDistancia()">
                      <mat-icon  style="color: rgb(0, 255, 21); margin-inline-start: 0px;">check</mat-icon>
                    </button>
                    <button mat-icon-button style="transform: scale(1);" (click)="cancelarNuevaDistancia()">
                      <mat-icon  style="color: rgb(189, 0, 0); margin-inline-start: 0px;">close</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  </div>
</div>

    