/* .container{

}
.primero{
    display: flex; 
}
.imagen-contenedor {
    margin-top: 10%;
    width: 40%; 

    overflow: hidden;

  }
  
  .imagen {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  } */
  .container {
    display: flex;
    margin: 13% 5%;
    align-items: center; /* Alinea el contenido verticalmente en el centro */
  }

  .imagen {

    width: 40%; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el título */
  }

  .titulo {
    font-size: 24px;
    font-weight: bold;
  }