<!-- <div class="container">
    <toolbar></toolbar>

    <div class="primero">
        <div class="imagen-contenedor">
            <img src="../../../images/bici2.jpg" alt="Descripción de la imagen" class="imagen">
        </div>
       
        <h1 class="titulo">Nombre del evento</h1>
    </div> 

</div> -->

<body>
    
    <div class="container">
        <!-- <app-header></app-header> -->
        <toolbar></toolbar>
        <img src="../../../images/bici2.jpg" alt="Descripción de la imagen" class="imagen">
      <div class="titulo">Título del Evento</div>
    </div>
  </body>